
/* BÀI TẬP 1   */
*{
    font-weight: 600;
    font-size: 17px;
}
.Bai_1 {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    height: 230px;
    width: 470px;
    margin: 50px auto;
    border: #fff  1px solid;
  background-color: #f0e4e4;
  position: relative;
  border-radius: 15px;
}
.Bai_1_title{
   position: absolute;
   content: "";
   top:10px;
   left:20%;
}
.container{
    margin: 50px auto;
}
.Bai_1 i {
    color: rgb(173, 173, 67);
    font-size: 20px;
}
.Bai_1_item{
    display:flex;
    margin: auto;
}
.btn{
    border-radius: 50px;
    width: 40%;
    margin:10px 0;
}
.form-right{margin-left: 10px;}
.soluongbt1{
    text-align: left;
    padding: 7px 30px;
    border-radius: 5px;
    border: 1px #ced4d9 solid;
    font-size: 15px;
    width: 43%;
    height: 40px;
    background-color: #fff;
}
/* BÀI TẬP 1   */
/* BÀI TẬP 2 */
.Bai_2{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    height: 330px;
    width: 700px;
    margin: 50px auto;
    border: #fff  1px solid;
  background-color: #f0e4e4;
  position: relative;
  border-radius: 15px;
    
}
.Bai_2_title{
    margin: 0 30% 30px ;
}
.Bai_2_title i{
    color: rgb(173, 173, 67);
    font-size: 20px;
}
.Bai_2_item{ 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
 gap: 10px;
}
.Bai_25{
    grid-row: 2/3;
    grid-column: 2/3;
}
/* BÀI TẬP 2   */
/* BÀI TẬP 3  */
.Bai_3 {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    height: 330px;
    width: 400px;
    margin: 50px auto;
    border: #fff  1px solid;
    background-color: #f0e4e4;
    border-radius: 15px;
}
.Bai_3_title{
    margin: 0 30% 30px ;
}
.Bai_3_title i {
    color: rgb(173, 173, 67);
    font-size: 20px;
}
.Bai_3_item {
    position: relative;
    content: "";
    top: 0;
    left: 20%;
}

/* BÀI TẬP 3 */
/* BÀI TẬP 4 */
.Bai_4_big{
width: 400px;
height: 300px;
box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
border: #fff  1px solid;
background-color: #f0e4e4;
border-radius: 15px;
margin: auto;
}

#txt-resuldtcv{
    width: 250px;
}
.Bai_4_title { 
    position: relative;
    content: "";
    top: 30px;
    left: 15%;
}
.Bai_4_item {
    position: relative;
    content: "";
    top: 70px;
    left: 25%;
}
.Bai_4_title i {
    color: rgb(173, 173, 67);
    font-size: 20px;
}
/* BÀI TẬP 4 */
/* BÀI TẬP 5 */

.Bai_5{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    height: 330px;
    width: 400px;
    margin: 50px auto;
    border: #fff  1px solid;
    background-color: #f0e4e4;
    border-radius: 15px;
    position: absolute;
    margin-left: 500px;
}
.Bai_5_title { 
    position: relative;
    content: "";
    top: 0px;
    left: 22%;
}
.input{
    width: 250px;
}
.Bai_5_item {
    position: relative;
    content: "";
    top: 30px;
    left: 20%;
}
.Bai_5_title i {
    color: rgb(173, 173, 67);
    font-size: 20px;
}

/* BÀI TẬP 5 */